* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f3f5;
  font-family: lato, sans-serif;
  color: #2c2d41;
}
.wrapper {
  padding: 50px;
}
.searchField {
  width: 100%;
  text-align: center;
}
/*TODO: Trzeba jakoś wyliczyć wielkość searchfielda żeby zawsze zajmował całość*/
.searchField input {
  width: 80%;
  height: 80px;
  border-radius: 18px;
  font-size: 50px;
  border: none;
}
.searchField button {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  border-radius: 18px;
  border: none;
  background-color: #ffc939;
}
.searchField button i {
  font-size: 50px;
  color: black;
}
.favs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.favs .title {
  width: 100%;
  line-height: 100px;
  font-size: 50px;
  display: block;
  text-align: center;
}
.fav {
  width: 20vw;
  min-height: 26vw;
  background-color: white;
  border-radius: 18px;
}
.fav img {
  width: 18vw;
  height: 18vw;
  margin: 1vw 1vw 0 1vw;
  object-fit: cover;
  text-align: center;
  border-radius: 18px;
}
.fav h1 {
  font-size: 20px;
  text-align: center;
}
.fav .fa-x {
  display: block;
  margin: 0 auto;
  width: 90%;
  border-radius: 18px;
  background-color: #810202;
  text-align: center;
  color: white;
}
.populars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
  width: 100%;
}
.populars h1 {
  display: block;
  width: 100%;
  font-size: 40px;
  line-height: 60px;
}
.popular {
  width: 40vw;
  border-radius: 18px;
  margin: 50px 0;
  background-color: white;
}
.popular h1 {
  font-size: 35px;
  line-height: 35px;
}
.popular img {
  width: 38vw;
  height: 38vw;
  margin: 1vw 1vw 0 1vw;
  object-fit: cover;
  text-align: center;
  border-radius: 18px;
}
.popular .info {
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}
.info .fa-stopwatch {
  margin-right: 10px;
}
.info .fa-bookmark {
  float: right;
  color: gray;
}

.recipePopup{
  position: absolute;
  z-index:1;
  top:0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}
.recipePopup img{
  width: 100vw;
  height: 25vh;
  object-fit: cover;

  margin: 0 auto;
  display: block;
}
.recipePopup h1{
  font-size: 80px;
  margin: 2vh 0;
}
.recipePopup span{
  font-size: 40px;
}
.recipePopup i{
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 60px;
  border-radius:50%;
  background-color: red;
}